body {
  background-color: #222;
  color: white;
  font-size: 14px;
  font-family: 'Josefin Sans';
  font-weight: normal;
  margin: 0;
}

header {
  position: relative;
  text-align: center;
}

p {
  margin: 0;
  font-family: 'Impact';
  font-size: 25px;
  text-align: center;
}

p.title {
  display: inline-block;
  position: relative;
  font-family: 'Young Serif';
  font-size: 10vw;
  font-weight: bold;
}

svg#Layer_1 {
  position: relative;
  top: 2px;
  right: 4px;
  width: 5.8vw;
}

p#location {
  margin-top: 2px;
  writing-mode: vertical-rl;
  line-height: 18px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 11px;
}

header {
  margin-top: 30px;
  transition: opacity 0.5s ease;
}

main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  transition: opacity 0.5s ease;
}

div#content {
  position: relative;
  border: 3px solid #fff;
}

form#shootList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding-right: 14px;
  z-index: 2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 13vw;
  height: 4vh;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #545454;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/470/102/original/orange-basketball-sport-hand-drawn-free-png.png");
  background-size: cover;
  content: "";
  height: 4vh;
  width: 7vw;
  left: 2px;
  bottom: -1px;
  -webkit-transform: translateX(5vw);
  -ms-transform: translateX(5vw);
  transform: translateX(5vw);
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #fffcec;
  box-shadow:
          0 0 15px rgba(255, 215, 0, .5),
          0 0 45px rgba(255, 215, 0, .5),
          0 0 105px rgba(255, 215, 0, .5);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0vw);
  -ms-transform: translateX(0vw);
  transform: translateX(0vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50vh;
}

.slider.round:before {
  border-radius: 50%;
}

div#total {
  position: relative;
  width: 12px;
  height: 19px;
  margin: 0 auto;
  border: 2px solid #fff;
  padding: 3px;
  line-height: 23px;
  font-family: "Digital Dismay";
  font-size: 30px;
  font-weight: bold;
  color: #fffcec;
  text-shadow:
          0 0 15px rgba(255, 215, 0, 1),
          0 0 15px rgba(255, 215, 0, 1),
          0 0 45px rgba(255, 215, 0, 1),
          0 0 105px rgba(255, 215, 0, 1);
  cursor: default;
}

#submitTour {
  display: none;
}

#submitTour button {
  background-color: #222;
  border: none;
  padding: 0;
  width: 100%;
  line-height: 38px;
  color: #fff;
  font-family: 'Josefin Sans';
  font-size: 30px;
  font-weight: bold;
}

/* SVG
----------------------------------------------- */

.cls-1,.cls-2,.cls-3,.cls-4 {
  fill: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.cls-5 {
  fill: #545454;
  -webkit-transition: .3s;
  transition: .3s;
}

.cls-1,.cls-2,.cls-3 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.cls-2 {
  stroke-dasharray: 13.45 13.45;
}

.cls-3,.cls-4 {
  stroke-linecap: round;
}

.cls-4 {
  stroke: #545454;
  stroke-linejoin: round;
  stroke-width: 4.25px;
  stroke-dasharray: 14.17 11.34;
}

/* topBar
----------------------------------------------- */

div#topBar {
  display: flex;
  align-items: stretch;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  height: 38px;
}

p#player {
  float: left;
  width: 55px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  user-select: none;
  cursor: pointer;
}

div#name {
  float: left;
  border: none;
  padding: 0;
  line-height: 36px;
  font-family: 'F60s Scoreboard Regular';
  font-size: 20px;
  font-weight: bold;
  color: #ff4a1c;
  text-shadow:
        0 0 5px rgba(255, 0, 0, 1),
        0 0 10px rgba(255, 0, 0, 1),
        0 0 15px rgba(255, 0, 0, 1),
        0 0 25px rgba(255, 0, 0, 1),
        0 0 45px rgba(255, 0, 0, 1),
        0 0 65px rgba(255, 0, 0, 1),
        0 0 105px rgba(255, 0, 0, 1),
        0 0 115px rgba(255, 0, 0, 1);
}

div#name:before {
  display: block;
  float: left;
  padding-right: 3px;
  content: '\2BC8';
  line-height: 35px;
  font-size: 15px;
}

button#toggle, button#clear {
  float: right;
  border: none;
  border-left: 3px solid #fff;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #222;
  color: #fff;
}

/* bottomBar
----------------------------------------------- */

div#bottomBar {
  display: flex;
  justify-content: center;
  position: relative;
  top: 30px;
  border: 3px solid #fff;
  border-radius: 10px;
  padding-bottom: 5px;
}

/* Timer
----------------------------------------------- */

#timer {
  display: block;
  position: relative;
  width: 90px;
  height: 19px;
  z-index: 1;
  border: 2px solid #fff;
  padding: 3px;
  line-height: 23px;
  font-family: "Digital Dismay";
  font-size: 30px;
  font-weight: bold;
  color: #fffcec;
  text-shadow:
          0 0 15px rgba(255, 215, 0, 1),
          0 0 45px rgba(255, 215, 0, 1),
          0 0 105px rgba(255, 215, 0, 1);
}

.ms {
  display: block;
  float: right;
  height: 14px;
  border: 2px solid #fff;
  padding: 1px;
  line-height: 15px;
  font-size: 18px;
  color: #ff4a1c;
  text-shadow:
        0 0 5px rgba(255, 0, 0, 1),
        0 0 10px rgba(255, 0, 0, 1),
        0 0 15px rgba(255, 0, 0, 1),
        0 0 25px rgba(255, 0, 0, 1),
        0 0 45px rgba(255, 0, 0, 1),
        0 0 65px rgba(255, 0, 0, 1),
        0 0 105px rgba(255, 0, 0, 1),
        0 0 115px rgba(255, 0, 0, 1);
}

#startButton, #startButton:hover, #pauseButton, #pauseButton:hover, #clearButton, #clearButton:hover {
	font-size: 15px;
	vertical-align: middle;
}

#pauseButton, #clearButton {
	display: none;
}

.run {
  color: #fffcec;
  text-shadow:
          0 0 15px rgba(255, 215, 0, 1),
          0 0 15px rgba(255, 215, 0, 1),
          0 0 45px rgba(255, 215, 0, 1),
          0 0 105px rgba(255, 215, 0, 1);
  user-select: none;
  cursor: pointer;
}

.pause {
  color: #ff4a1c;
  text-shadow:
        0 0 5px rgba(255, 0, 0, 1),
        0 0 10px rgba(255, 0, 0, 1),
        0 0 15px rgba(255, 0, 0, 1),
        0 0 25px rgba(255, 0, 0, 1),
        0 0 45px rgba(255, 0, 0, 1),
        0 0 65px rgba(255, 0, 0, 1),
        0 0 105px rgba(255, 0, 0, 1),
        0 0 115px rgba(255, 0, 0, 1);
  user-select: none;
  cursor: pointer;
}

/* Footer
----------------------------------------------- */

footer {
  position: fixed;
  bottom: -200px;
  left: 0px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-top: 3px solid #fff;
  background-color: #222;
  transition: bottom 0.5s ease;
}

#swiper {
  display: block;
  position: relative;
  bottom: 73.2px;
  margin-top: -5px;
  text-align: center;
  font-size: 35px;
}

#swiper:before {
  content: attr(data-before);
  font-family: 'Material Icons';
  font-size: 35px;
}

#chrono {
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
}

#chrono:before {
  content: attr(data-before);
  font-family: 'Material Icons';
  font-size: 24px;
}

.play {
  opacity: 0;
}
